# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

echo ".env" >> .gitignore
echo "packages/hardhat/.env" >> .gitignore
git add .
git commit -m "ignore env files"
git push